<footer>
      <nav class="navbar fixed-bottom">
        <h6 class="navbar-text">&copy; Website by Shifa Faisal. Copyright 2025. All rights reserved</h6>
      </nav>
    </footer>
    <script src="/Script/app.js"></script>
  </body>
</html>