<%- include ./partials/header.ejs %>
<%- include ./partials/main_nav.ejs %>

<style>
/* Form styling */ 
body {
    background: linear-gradient(to bottom, #022340 0%, #033159 100%);
    color: white;
    font-family:'Times New Roman', Times, serif; 
    }

  h1 {
    color: lightslategray;
  }
  
  p, h1 {
    font-family: 'Times New Roman', Times, serif;
}


form {
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 25px;
    color: black;
    width: 80%; /* sets the width of the form */
    border-radius: 10px; 
}
</style>


<section>
  <div id="wrapper">
    <h1>Query & Feedback Form </h1>
     <p> If you have any questions, concerns or just want to chat reach out to me here:</p>


    <form 
      action="mailto:shifafaisal0808@gmail.com?subject=Feedback on website"
      enctype="text/plain"
      method="post"
      name="Form"
    >

      <p>
        <label for="name">Name:</label>
        <input type="text" name="name" placeholder="Enter your name" size="32" required>
      </p>

      <p>
        <label for="email">Email:</label>
        <input type="email" name="email" placeholder="Enter your email" size="32" required>
      </p>

      <p>
        <label for="message">Message, concern or feedback:</label><br>
        <textarea name="message" cols="65" rows="7" placeholder="Enter your message for the owner of the website" required></textarea>
      </p>

      <p>
        <label for="why">Primary reason for visiting my portfolio:</label>
        <select name="why">
          <option value="Exploring my skills">Exploring my skills</option>
          <option value="Looking for collaboration">Looking for collaboration</option>
          <option value="Hiring or Recruitment">Hiring or Recruitment</option>
          <option value="Curiosity">Curiosity</option>
          <option value="other">Other</option>
        </select>
      </p>

      <p>
        <input type="submit" value="Submit">
      </p>

      <p>
        <input type="reset" value="Reset form fields">
      </p>

    </form>
  </div>
</section>

<%- include ./partials/footer.ejs %>
