<%- include ./partials/header.ejs %>
<%- include ./partials/main_nav.ejs %>

<style>
body {
  background-color:#022340; 
}
p {
  font-size: 16px;
  line-height: 1.6;
  padding: 15px;
  margin: 25px;
  text-align: center;
}

.projectbox {
  border-radius: 10px;
  padding: 25px;
  background-color: #0d0d0d; 
  margin: 25px auto;
  width: 90%;
}
</style>


<h1>Projects</h1>

<p>In the process of getting degree I have made some projects along the way to showcase my skills</p>

<div class = "projectbox">
    <h3>Task Manager Application</h3>
    <p>A web application that allows users to create, manage, and track their tasks efficiently. Bulit using object oriented programming with Python.</p>
</div>

<div class = "projectbox">
    <h3>Personal Portfolio Website</h3>
    <p>A responsive portfolio website to showcase my skills, projects, and a way to contact me. Built using HTML and CSS.</p>
</div>

<div class = "projectbox">
    <h3>Calculator Application</h3>
    <p>A simple calculator application that performs basic arithmetic operations. Built using object oriented programming with Python</p>
</div>

<div class = "projectbox">
    <h3> Networking Addressing Project</h3>
    <p>Designed an IPv4 addressing scheme and subnetting for a fake organization consisting of three buildings with the implementation of Cisco Packet Tracer. Configured IP addresses, subnet masks, network/broadcast addresses and static routing tables to enable communication between buildings and internet access.</p>
</div>
<%- include ./partials/footer.ejs %>
