<%- include ./partials/header.ejs %>
<%- include ./partials/main_nav.ejs %>

<p> Along with getting my degree, I am also trying to build projects to show my skills. Here are some projects I have built so far:</p>
<%- include ./partials/footer.ejs %>
