body {
    margin: 10px;
    background-color: #022340; 
    font-family:'Times New Roman', Times, serif; 
}

h1, h2, h3 {
    color: #275d8c;
    text-align: center;
    padding: 10px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    color: #6ca6d9;
    padding: 10px;
    text-align: center;
}

/* Video, image and caption styling */ 
.video-section video {
    text-align: center;
    margin: 20px auto;
    display: block; 
    width: 40%;
    height: auto;
}

.video-section figcaption {
    text-align: center;
    font-style: italic;
    color: white;
    margin-top: 5px;
}

video {
    width: 40%;
    height: auto;
    border: 2px solid white;
}

.intro-img img {
    width: 50%;
    height: auto;
    text-align: center;
    margin:0 auto;}

            
form h2, h3, h4 {
    text-align: center;
    margin-bottom: 25px;
}

section, section form {
  background: none;
}

.navbar {
    background-color: #033159;
}
