body {
    margin: 20px;
    color: navy;
    background-color: lightblue;

h1 {
    color: blue;
    text-align: center;
}

p {
    font-size: 18px;
    line-height: 1.6;
    color: deeppink;
    padding: 10px;
;
}