body {
    margin: 10px;
    color: rgb(32, 46, 109);
    background-color: rgb(126, 130, 247);


h1 {
    color: rgb(0, 0, 92);
    text-align: center;
}

p {
    font-size: 18px;
    line-height: 1.6;
    color: rgb(255, 255, 255);
    padding: 10px;
}